extends layout

block head
  link(rel='stylesheet' href='/stylesheets/lobby.css')
  link(rel='stylesheet' href='/stylesheets/tablesorting.css')

block content
  .lobby-header
    h1= title
    .header-buttons
      a.btn.btn-info(href="#about" role="button") About Us
      | &nbsp;
      a.btn.btn-primary(href="#create-room" role="button") Create Room

  div
    table(data-toggle='table', data-sort-name='name', data-sort-order='asc')
      thead
        tr
          th(data-field='name', data-sortable='true') Name
          th(style="width: 2em;", data-field='capacity_size', data-sortable='true') Capacity
          th(style="width: 1em;", data-field='privacy_check', data-sortable='true') Private
      tbody
        each room in rooms
          tr(class=(room.capacity > 1 ? '': 'table-warning'))
            td
              a(href='/r/' + room.slug)= room.name
            td
              .label.label-default.label-pill=room.capacity
            td
              if room.private
                span &#128274;

  #create-room.popup
    a.popup-exit(href="#")
    form(action="/room/create" method="post")
      h2 Create Room
      .public-field
        label Name
        input(type="text" name="Name")
      .public-field
        label Capacity
        input(type="number" list='capacity-options' name="Capacity")
        datalist#capacity-options
          option(value='2')
          option(value='3')
          option(value='4')
          option(value='5')
          option(value='6')
      .public-field
        label Public
        input(type="radio" name="Private" value="false" checked="checked" onclick="setPasswordDisabled(true);")
        | &nbsp; &nbsp; &nbsp; &nbsp;
        label Private
        input(type="radio" name="Private" value="true" onclick="setPasswordDisabled(false);")
      .public-field
        label Password
        input(type="password" name="Password" disabled='true')
      .action-buttons
        button.btn.btn-primary(type="submit") Create
        a.btn.btn-secondary(href="#" role="button") Cancel
  #about.popup
    a.popup-exit(href="#")
    h1 About Us
    h2= team_name
    each name in team_members
      p= name
block javascript
  script(src="/script/clientLobby.js")
  script(src="/script/tablesorting.js")
